<h1>My Teams</h1>

  <% @teams.each do |team| %>
    <h3> TEAM : <%= team.name %></h3>
    <p><%= team.url_targeted %></p>
    <br>
    <p><%= link_to "See the team timeline", team_path(team) %>
    </p>
  <% end %>

<%= link_to "Add a new team", new_team_path %>

