<h1>My Teams</h1>

<% @teams.each do |team| %>
  <h3> TEAM : <%= team.name %></h3>
  <br>
  <% team.websites.each do |website| %>
    <%= link_to website.name, team_website_path(team, website) %>

  <% end %>
  <%= link_to "Add a website", new_team_website_path(team) %>
<% end %>

