<div class="create-comment">
  <%= simple_form_for([ project, comment ], remote: true) do |form| %>
    <%= form.input :content, as: :text, placeholder: "Comment project" %>
    <%= form.button :submit, class: "btn-create" %>
  <% end %>
</div>
