<div class="comment-card">
  <div class="comment-image">
    <div class="comment-avatar"> <%= cl_image_tag comment.user.photo, height: 50, width: 50, crop: :fill, class: "avatar-rounded" %></div>
  </div>
  <div class="comment-content">
    <div class="comment-context"> <strong> <%= comment.user.first_name %></strong></div>
    <div class="comment-details"><%= comment.content %> </div>
  </div>
</div>

