<div class="project-comments">
<h4><%= cl_image_tag comment.user.photo, class: "img-comment" %>
<%= comment.user.first_name %>: <span class= "comment-content">"<%= comment.content %>"</span></h4>
</div>
