.feed-card{
  // background-color: white;
  border-radius : 3px;
  padding : 10px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.feed-image{

}

.feed-context{
  color: #65AFFF;
  i{
    margin-right: 5px;
  }
}
.feed-content{
  color: #2B414D;
 flex: 0 0 85%;
 margin-left:15px;
 line-height: 25px;
}


.feed-details{

}


