.feed-container{
  margin: 30px;
}

.feed-container a{
  text-decoration: none;
  color: #2B414D;
}

.feed-card{
  background-color: white;
  border-radius : 3px;
  padding : 10px;
  margin: 10px;

}

.feed-context{
  color: #65AFFF;
}

.feed-details{
  margin-left :5px;
}
