.feed-container{
  margin: 30px;
}

.feed-container a{
  text-decoration: none;
  color: #2B414D;
}

.feed-card{
  // background-color: white;
  border-radius : 3px;
  padding : 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.feed-image{

}

.feed-content{
 flex: 0 0 85%;
 margin-left:15px;
}

.feed-context{
  color: #65AFFF;
}

.feed-details{

}
