.sign-in-link, .sign-out-link{
  position:absolute;
  top:15px;
  right: 30px;
}

.sign-in-link a{
  color: white;
  font-size : 20px;
  font-family: "Heebo", sans-serif;
  font-weight: normal;
  padding-bottom: 40px;

}

.sign-in-link a:hover{
  text-decoration : none;
  color: #F4D35E;
}


.sign-out-link a{
  color: white;
  font-size : 20px;
  font-family: "Heebo", sans-serif;
  font-weight: normal;
  padding-bottom: 40px;

}

.sign-out-link a:hover{
  text-decoration : none;
  color: #F4D35E;
}

.bg-color {
  display: block;
  background-color: #2B414D;
  height: 90vh;
}

.section-first{
 padding-top: 70px;
}

