.sign-in-link, .sign-out-link{
  position:absolute;
  top:15px;
  right: 30px;
}

.sign-in-link a{
  color: white;
  font-size : 20px;
  font-family: "Heebo", sans-serif;
  font-weight: normal;
  padding-bottom: 40px;

}

.sign-in-link a:hover{
  text-decoration : none;
  color: #F4D35E;
}


.sign-out-link a{
  color: white;
  font-size : 20px;
  font-family: "Heebo", sans-serif;
  font-weight: normal;
  padding-bottom: 40px;

}

.sign-out-link a:hover{
  text-decoration : none;
  color: #F4D35E;
}

.bg-color {
  display: block;
  background-color: #2B414D;
  height: 90vh;
}

.section-first{
 padding-top: 70px;
}

.explain-content{
  height: 400px;
  background-color: white;
}

.explain-content-block, .who-content-block{
  display: flex;
  align-items: center;
}

.illu-explain{
  height: 220px;
  width: 50%
}

.text-explain{
  font-size: 20px;
  color: #2B414D;
  padding : 40px 60px 0 20px;
  font-weight: lighter;
  line-height: 48px;
}


.who-text-explain{
  font-size: 20px;
  color: #2B414D;
  padding : 40px 40px 0px 20px;
  font-weight: lighter;
  line-height: 48px;
}

.who-content{
  height: 400px;
  background-color: #F7F6F5;
}

.cta-banner{
  background-color: white;
  height: 250px;
  padding: 100px;
  h2{
  padding-top: 20px;
  color:white;
  position: center
  }

}

.title-content h2{
  padding: 40px 20px 0 20px;
  color: #2B414D;
  text-align: center;
  font-weight: 900;
}

#team_home{
 background: asset-url("team_home.svg") no-repeat center;
}


