// Related css code (on same page) on chart.scss page and timeline_style.scss

.project-topbar{
  display: flex;
  justify-content: space-between;
}

.team-selector{
  margin: 10px 10px 0 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Heebo", sans-serif;
}

.team-selector a {
  text-decoration:none;
  color: #2B414D;
}

.dropdown-menu{
  border: none;
}

.search{
  padding: 5px 10px 0 10px;
  margin: 10px 10px 0 10px;
}

.search-bar {
  border-radius: 4px;
  height: 40px;
}

.form-control-extended{
  width: 350px !important;
}

.search-submit-btn{
  height: 40px;
  width: auto;
  padding: 0 10px;
  border-radius: 3px;
  background-color: #65AFFF;
  font-size: 15px;
  color: white;
  border: solid;
  border-width: 1px;
  border-color: #65AFFF;
  // box-shadow : 1px 2px 1px #D3E0E7;
}

.search-message{
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

::-webkit-input-placeholder {
   font-style: normal;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none;
  border-color: #456678;
}



