<% if user_signed_in? %>

    <div class="sign-out-link">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t(".sign_out", default: "Log out") %>
      <% end %>

    </div>


<% else %>

   <div class="sign-in-link">
    <!-- Login text link -->
    <%= link_to new_user_session_path do %>
    <%= t(".sign_in", default: "Login") %>
    <% end %>
  </div>

<% end %>
