<ul class="cbp-vimenu">
  <li><a href="#" id="logo_svg">Logo</a></li>
  <li><a href="#" id="search">Archive</a></li>
  <li><a href="#" id="members">Search</a></li>
  <li><a href="#" id="connection">Pencil</a></li>
  <li><a class="#"></a></li>
  <li><a href="#" id="dossier">Images</a></li>
  <li><a href="#" class="avatar-dash">Download</a></li>
</ul>
