<ul class="cbp-vimenu">
  <li><a href="#" class="icon-logo">Logo</a></li>
  <li><a href="#" class="icon-archive">Archive</a></li>
  <li><a href="#" class="icon-search">Search</a></li>
  <li><a href="#" class="icon-pencil">Pencil</a></li>
  <!-- Example for active item:
  <li class="cbp-vicurrent"><a href="#" class="icon-pencil">Pencil</a></li>
  -->
  <li><a href="#" class="icon-location">Location</a></li>
  <li><a href="#" class="icon-images">Images</a></li>
  <li><a href="#" class="icon-download">Download</a></li>
</ul>
