<div class="home-title text-center">
  <h1>Timezy</h1>
  <p>Here. Big next Revolution for companies</p>
</div>
  <div class="clock">
    <div class="hour"></div>
    <div class="second"></div>
    <div class="center"></div>
  </div>

