<div class="banner">
  <div class="banner-title">
    <h1>Timzy</h1>
  <div class="text-typed">
    <br>
    TEST
    <br>
  </div>
  <br>
  <div class="clock">
    <div class="hour"></div>
    <div class="second"></div>
    <div class="center"></div>
  </div>
  <div class="cta">
  <a class="btn-cta">Sign up</a>
  </div>
  </div>
</div>



