<div class="container">
  <div class="chart-project">
    <canvas id="myChartindex"></canvas>
  </div>
</div>
 <%= render 'shared/timeline' %>

 <!-- LE GRAPH DU PROJETS -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      new Chart($("#myChartindex"), {
          type: 'bar',
          data: {
              labels: <%= raw @array_date.to_json %>,
              datasets: [{
                  label: 'Unique Visitors',
                  backgroundColor:
                      '#00DDC2',

                  borderColor:
                      '#00DDC2',

                  data: <%= raw @array_clean.to_json %>,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
    });
  </script>
<% end %>






