<%= link_to '<< Back to project timeline', team_website_path(params[:team_id], params[:website_id]) %>

<div class="container">

  <h1>New Project</h1>
  <br>

  <%= render 'form', project: @project %>

</div>
