
<div class='container'>
  <%= link_to team_path(@team), class: "previous-button" do %>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <% end %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="analytics-form">
        <h2><%= @team.name %></h2>
        <br>
        <h3>Add Teammates</h3>
        <br>


        <div id='teammates'>
          <%= render "list" %>
        </div>
        <div id='teammate-form'>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
