<div class='container'>
  <h1><%= @team.name %></h1>
  <br>
  <h3>Add Teammates</h3>
  <br>
  <div id='teammates'>
    <%= render "list" %>
  </div>
  <div id='teammate-form'>
    <%= render "form" %>
  </div>

</div>
