
<div class='container'>
  <%= link_to team_path(@team), class: "previous-button" do %>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <% end %>
  <h1><%= @team.name %></h1>
  <br>
  <h3>Add Teammates</h3>
  <br>
<div>


  <div id='teammates'>
    <%= render "list" %>
  </div>
  <div id='teammate-form'>
    <%= render "form" %>
  </div>

</div>
