 body {
  background-color: #F7F6F5;
}
p {
 font-weight: 300;
}
.sidebar{
  margin-left: 70px;
  width: calc(100vw - 70px);
}

.btn-cta, .btn-cta-home {
  padding: 12px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #CE4158;
  color: white;
  font-size: 24px;
  font-weight: 700;
  font-family : 'Heebo', sans-serif;
  border: 2px solid #CE4158;
}

.btn-cta:hover, .btn-cta-home:hover {
  padding: 12px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #CE4158;
  color: white;
  font-size: 24px;
  font-weight: 700;
  font-family : 'Heebo', sans-serif;
  border: 2px solid #CE4158;
}

.btn-cta-home {
margin-top:40px;
}

.cta a:hover{
  text-decoration: none;
}

.btn-create {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #65AFFF;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family : 'Heebo', sans-serif;
  border: 2px solid #65AFFF;
}

.btn-create:hover{
  border-radius: 4px;
  background-color: #4099FF;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #4099FF;
}




