body {
  background-color: white;
}

.standard-container{
  margin: 40px 40px;
}

.standard-container a{
  text-decoration: none;
  color: #2B414D;
}

p {
 font-weight: 300;
}

.sidebar{
  margin-left: 70px;
  width: calc(100vw - 70px);
}

h1 {
  font-family : 'Heebo', sans-serif;
  font-weight: 900;
  color: #2B414D;
}

h2{
  color: #2B414D;;
}

h3 {
  font-family : 'Heebo', sans-serif;
  color: #2B414D;

}

  .light{
    font-weight: lighter;
  }

.color-blue{
  background-color: #E9F0F5;
}
//  color for teamline layout

.btn-cta, .btn-cta-home {
  padding: 12px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #CE4158;
  color: white;
  font-size: 24px;
  font-weight: 700;
  font-family : 'Heebo', sans-serif;
  border: 2px solid #CE4158;
}

.btn-cta:hover, .btn-cta-home:hover {
  padding: 12px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #CE4158;
  color: white;
  font-size: 24px;
  font-weight: 700;
  font-family : 'Heebo', sans-serif;
  border: 2px solid #CE4158;
}

.btn-cta-home {
margin-top:40px;
}

.cta a:hover{
  text-decoration: none;
}

a.btn-create{
  text-decoration: none;
  color:white;
}

.btn-create {

  padding: 10px 23px;
  border-radius: 4px;
  background-color: #65AFFF;
  color: white;
  font-size: 24px;
  font-weight: normal;
  font-family : 'Heebo', sans-serif;
  border: 2px solid #65AFFF;
  text-decoration: none;
  font-size: 16px;
  margin-top: 19px;
}

.btn-create:hover{
  border-radius: 4px;
  background-color: #4099FF;
  color: white;
  font-size: 16px;
  font-weight: normal;
  border: 2px solid #4099FF;
  text-decoration: none;
  cursor: pointer;
}

.btn.btn-default:visited {
  background: #4099FF;
}

.btn.btn-default:active{
  background: #4099FF;
}


