
#sidebar {
  position: fixed;
  text-align: center;
  overflow: hidden;
  width: 70px;
  top: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 15px 10px;
  background: #2B414D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#sidebar-top{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 50%;
}

#sidebar-bottom{

}

#sidebar img{
  transition: 0.3s ease;
  width: 80%;
  height: auto;
}

#sidebar img:hover{
  width: 90%;
  height: auto;
}

#sidebar img.hover-icon:hover{
  width: 90%;
  height: auto;
  opacity: 0.7;
}

#sidebar img#size-logo{
  width: 100%;
  height: auto;
}


