// Related css code (on same page) on project_index page and timeline_style.scss

.chart-project {
  height: 145px;
}

.bloc{
  height: 185px;
  margin-right: auto;
  margin-bottom: 10px;
  z-index: 2;
  position: relative;
}

.fixed {
   position: fixed;
   overflow-y: auto;
   background-color: white;
   width: 95%;
   z-index: 1;
   border-bottom: solid 2px #2B414D;
}

.chart-project-detail{
  height: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.chart-pageview {
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.chart-session {
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.chart-project-custom {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
