.chart-project {
  height: 250px;
}

.bloc{
  height: 250px;
  margin-right: auto
}

.fixed {
   position: fixed;
   overflow-y: auto;
   background-color: white;
   width: 95%;
   z-index: 1;
   border-bottom: solid 2px #2B414D;
}

.chart-project-detail{
  height: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.chart-pageview {
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.chart-session {
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}



