.icon-Connections .path1:before {
  content: "\e909";
  color: #000;
}
.icon-Connections .path2:before {
  content: "\e90a";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path3:before {
  content: "\e90b";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path4:before {
  content: "\e90c";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path5:before {
  content: "\e90d";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path6:before {
  content: "\e90e";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path7:before {
  content: "\e90f";
  color: #fff;
  margin-left: -1em;
}
.icon-dossier .path1:before {
  content: "\e907";
  color: #000;
}
.icon-dossier .path2:before {
  content: "\e908";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path1:before {
  content: "\e909";
  color: #000;
}
.icon-Connections .path2:before {
  content: "\e90a";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path3:before {
  content: "\e90b";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path4:before {
  content: "\e90c";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path5:before {
  content: "\e90d";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path6:before {
  content: "\e90e";
  color: #fff;
  margin-left: -1em;
}
.icon-Connections .path7:before {
  content: "\e90f";
  color: #fff;
  margin-left: -1em;
}
.icon-recherche .path1:before {
  content: "\e910";
  color: #000;
}
.icon-recherche .path2:before {
  content: "\e911";
  color: #fff;
  margin-left: -1em;
}
