#members {
  background: asset-url("members.svg") no-repeat center;
}

#members:hover {
  background: asset-url("members_hover.svg") no-repeat center;
}

#search {
  background: asset-url("recherche.svg") no-repeat center;
}

#search:hover {
  background: asset-url("recherche_hover.svg") no-repeat center;
}

#connection {
  background: asset-url("Connections.svg") no-repeat center;
}

#connection:hover {
  background: asset-url("Connections_hover.svg") no-repeat center;
}

#dossier {
  background: asset-url("dossier.svg") no-repeat center;
}

#dossier:hover {
  background: asset-url("dossier_hover.svg") no-repeat center;
}

#logo_svg{
  background: asset-url("logo_svg.svg") no-repeat center;
}

#logo_svg:hover {
  background: asset-url("logo_svg_hover.svg") no-repeat center;
}
